@import "../index.css";

.header {
  position: sticky;
  width: 100%;
  top: 0;

  height: 80px;
  background-color: #fff;
  /* margin-bottom: 50px; */
  z-index: 99999;
  box-shadow: 0px 5px 20px #0000000d;
  margin-bottom: 50px;
}

.header__inner_container {
  max-width: 1250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__inner_container h1 {
  font-family: var(--logo_font);
  font-size: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__inner_container .header__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.header__inner_container .header__nav .header__nav_profile {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.header__inner_container .header__nav .header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner_container .header__nav .header__menu .header__menu_items {
  margin-right: 2rem;
  padding: 8px 10px;
}

.header__inner_container .header__nav .header__menu .header__menu_items :hover {
  color: #ff6500;
}

.btn {
  height: 45px;
  width: 125px;
  display: flex;
  align-items: center;
  font-family: var(--body_font);
  justify-content: center;
  border-radius: 8px;
  /* border: 2px solid #ff6c0c; */
  transition: 300ms ease-in-out;
}
.btn:hover {
  /* background: #ff6c0c; */
  border: none;
  color: #ff6c0c;
  /* transform: scale(1.03); */
  transition: 300ms ease-in-out;
}

.header__inner_container .header__nav .header__logout_btn {
  /* display: block; */
}

.header__icons {
  color: #949494;
  font-size: 1.5rem;
  transition: 500ms ease-in-out;
}

.new_post {
  font-size: 1.8rem;
}

/* Mobile css */

@media (max-width: 900px) {
  .header {
    padding: 0.5rem;
    height: auto;
    position: relative;
  }

  .header__inner_container {
    flex-direction: column;
  }

  .header__inner_container .header__nav {
    width: 100%;
    flex-direction: column;
    gap: 0rem;
  }

  .header__inner_container .header__nav .header__menu {
    width: 100%;
  }

  .header__inner_container .header__nav .header__menu p {
    font-weight: 400;
  }

  .header__inner_container .header__nav .header__menu .header__menu_items {
    margin: 0;
  }

  .header__inner_container .header__nav .header__logout_btn {
    border: none;
  }
}
